<meta charset="ISO-8859-1">
<div class="divt">
	 <label class="title" for="titulo"><img src="resources/img/Basketball.png" style="height:80px"/>BetUdea</label>
	 <h4>BetUdeA es la mejor plataforma de simulacion con la cual podras aprender a apostar y ganar</h2>
</div>
<form name="loginform" class="form">
	<div>
		<label for="nombreUsuario">Nombre de usuario:</label> <input id="nombreUsuario" type="text"
			 ng-model="nombreUsuario" required>
	</div>
	<div>
		<label for="passwd">Contraseña:</label> <input id="passwd" type="password"
			 ng-model="passwd" required>
	</div>
	<div class="buttons">
		<button type="submit" ng-disabled="loginform.$invalid" class="btn" ng-click="login()" >Aceptar</button>
		<button class="btn registerb" ng-click="Register()" >Registrarse</button>
	</form>
	</div>

