<div>
	<div>
	<form name="loginform" class="form">
	<div>
		<label for="nombreUsuario">Hola {{nombreUsuario}} que deseas hacer:</label> 
	</div>
	<div class="buttonsp">
		<button  class="btn" ng-click="editarContraseña()" >Editar Contraseña</button>
		</div>
		<div class="buttonsp">
		<button class="btn" ng-click="editarCorreo()" >Editar correo electronico</button>
	</div>
	<div class="buttonsp">
		<button class="btn" ng-click="registrarSimulacion()" >Iniciar periodo de simulación</button>
	</div>
		<div class="buttonsp">
		<button class="btn" ng-click="perfilB()" >Volver</button>
	</div>
	</form>
</div>