<nav class="nav">
  <div class="nav-wrapper">
    <a href="#!/resultados" class="brand-logo">BetUdeA</a>
    <ul class="right hide-on-med-and-down">
           <li><a ng-click="contacto()">Contacto</a></li>
         <li><a ng-click="perfil()">Mi perfil</a></li>
          <li><a href="#!">Salirse</a></li>
      <!-- Dropdown Trigger -->
    </ul>
  </div>
</nav>
<div>
	<div>
	<form name="loginform" class="form">
	<div>
		<label for="nombreUsuario">Hola {{nombreUsuario}} que deseas hacer:</label> 
	</div>
	<div class="buttonsp">
		<button  class="btn" ng-click="editarContrasena()" >Editar Contraseña</button>
		</div>
		<div class="buttonsp">
		<button class="btn" ng-click="editarCorreo()" >Editar correo electronico</button>
	</div>
	<div class="buttonsp">
		<button class="btn" ng-click="registrarSimulacion()" >Iniciar periodo de simulación</button>
	</div>
		<div class="buttonsp">
		<button class="btn" ng-click="verApuestas()" >Ver mis apuestas</button>
	</div>
		<div class="buttonsp">
		<button class="btn" ng-click="verPeriodos()" >Ver mis periodos</button>
	</div>
		<div class="buttonsp">
		<button class="btn" ng-click="perfilB()" >Volver</button>
	</div>
	</form>
</div>