<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Hola ome</title>
<!-- <link href="resources/css/style.css" rel="stylesheet">-->
</head>
<body>
	<div class="cuentatitle">Crea tu cuenta</div>
	<div class="cuentasubtitle">Totalmente gratis, unete y empieza a
		ganar sin parar</div>
	<form name="registerform" class="form">
		<div>
			<label for="nombreUsuario">Nombre de usuario:</label> <input
				type="text" ng-model="usuario.nombreUsuario" id="nombreUsuario"
				name="nombreUsuario" ng-minlength="5" ng-maxlength="10" required>
			<span
				ng-show="registerform.nombreUsuario.$error.minlength ||
    		registerform.nombreUsuario.$error.maxlength">El
				nombre de usuario debe contener entre 5 y 10 caracteres.</span>
		</div>
		<div>
			<label for="passwd">Contraseña:</label> <input id="passwd"
				name="password" type="password" ng-model="usuario.password" required
				ng-minlength="6"> <span
				ng-show="registerform.password.$error.minlength">La
				contraseña debe tener más de 5 caracteres.</span>
		</div>
		<select>
			<option value="" disabled selected>Tipo documento</option>
			<option value="1">CC</option>
			<option value="2">CE</option>
		</select>
		<div>
			<label for="nrodcto">Número de documento:</label> <input id="nrodcto"
				type="number" ng-model="usuario.numeroDocumento" required>
		</div>
		<div>
			<label for="nombres">Nombres:</label> <input id="nombres" type="text"
				ng-model="usuario.nombres" required>
		</div>
		<div>
			<label for="apellidos">Apellidos:</label> <input id="apellidos"
				type="text" ng-model="usuario.apellidos" required>
		</div>
		<div>
			<label for="fechanaci">Fecha de nacimiento:</label> <input
				id="fechanaci" type="date" ng-model="usuario.fechaNacimiento"
				required>
		</div>
		<div>
			<label for="email">Email:</label> <input id="email" type="email"
				ng-model="usuario.email" required>
		</div>		
		<div class="buttons">
			<button type="submit" ng-disabled="registerForm.$invalid" class="btn"
				ng-click="guardar()">Aceptar</button>
			<button class="btn registerb" ng-click="RegisterBack()">volver</button>
		</div>
		<div class="input-field col s12"></div>
	</form>
</body>
</html>

