<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
	<li><a ng-click="perfil()">Mi perfil</a></li>
	<li><a>Ayuda</a></li>
	<li class="divider"></li>
	<li><a href="#!">Salirse</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
	<li><a>Ingles</a></li>
	<li><a>Frances</a></li>
</ul>
<nav>
	<div class="nav-wrapper">
		<a href="#!/resultados" class="brand-logo">BetUdeA</a>
		<ul class="right hide-on-med-and-down">
			<li><a class="dropdown-button" data-belowOrigin="true"
				data-activates="dropdown2">Idioma<i class="material-icons right">arrow_drop_down</i></a></li>
			<li><a ng-click="contacto()">Contacto</a></li>
			<!-- Dropdown Trigger -->
			<li><a class="dropdown-button" data-belowOrigin="true"
				data-activates="dropdown1"><i class="material-icons">face<i
						class="material-icons right">arrow_drop_down</i></i></a></li>
		</ul>
	</div>
</nav>
<div class="titletable">Juegos de la temporada</div>
<div class="resultados">
	<div class="row">
		<div class="col s8">
			<table width="70%">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Equipo local</th>
						<th>Equipo visitante</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="game in games| orderBy:'+date'"
						ng-if="game.date>=fecha">
						<td>{{game.date}}</td>
						<td ng-click="details(game.awayTeam.Name,guest)">{{game.awayTeam.Name}}({{guest}})</td>
						<td ng-click="details(game.homeTeam.Name,local)">{{game.homeTeam.Name}}({{local}})</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col s4">
			<aside>
				<h1 style="text-align: center;">Realizar apuesta</h1>
				<h2 class="izq">Valor premio</h2>
				<h2 class="der">${{premio}}</h2>
				<h2 class="izq">Saldo</h2>
				<h2 class="der">$30000</h2>
				<h2 class="izq">Equipo</h2>
				<h2 class="der">{{equipo}}</h2>
				<h2 class="izq">Saldo apuesta</h2>
				<input style="float: right; width: 40%;" ng-model="valorApuesta"
					type="number" name="apues" value="apues"><br>
				<button class="buttons" type="submit" name="button">Confirmar</button>
			</aside>
			<!-- <aside>
				<h1 style="text-align: center;">Realizar apuesta</h1>
				<h2 class="izq">Valor premio</h2>
				<h2 class="der">${{premio}}</h2>
				<h2 class="izq">Saldo</h2>
				<h2 class="der">$30000</h2>
				<h2 class="izq">Equipo</h2>
				<h2 class="der">{{equipo}}</h2>
				<h2 class="izq">Saldo apuesta</h2>
				<input style="float: right; width: 40%;" ng-model="valorApuesta"
					type="number" name="apues" value="apues"><br>
				<button class="buttons" type="submit" name="button">Confirmar</button>
			</aside>-->
		</div>
	</div>
</div>



