<meta charset="ISO-8859-1">
<div class="divt">
	 <label class="title" for="titulo"><img src="resources/img/Basketball.png" style="height:80px"/>BetUdea</label>
</div>
<div class="form">
	<div>
		<label for="nombreUsuario">Nombre de usuario:</label> <input id="nombreUsuario" type="text"
			 ng-model="nombreUsuario" required>
	</div>
	<div>
		<label for="passwd">Contraseña:</label> <input id="passwd" type="password"
			 ng-model="passwd" required>
	</div>
	<div class="buttons">
		<a class="btn" ng-click="login()" >Aceptar</a>
		<a class="btn registerb" ng-click="Register()" >Registrarse</a>
	
	</div>

</div>