body{
	background-color:#2bbbad;
}
.form{
	width:50%;
	border: 1px solid;
	margin:0 auto;
	padding:15px;
	background-color:white;

}
.title{
	color:black; 
	font-size:6em;
	 font-family: 'Rock Salt', cursive;
}
.divt{
	
	margin:0 auto;
	margin-top:8%;
	text-align:center;
}
.buttons{
	text-align:center;
}
.registerb{
	margin-left:10px;
}
.cuentatitle{
	font-size:36px;
	font-family: 'Gloria Hallelujah';
}
.cuentatitle, .cuentasubtitle{
	text-align:center;
}
nav{
	background-color:black;
}
.brand-logo{
	font-family:'Rock Salt', cursive;
}
td,th{
	text-align:center;
	border: 1px solid;
	
}
tr:nth-child(even){
    background-color: #F0F8FF;

}
thead tr{
	background-color:#008B8B
}

.titletable{
	text-align:center;
	font-size:4em;
}
.buttonsp{
	text-align:center;
	margin-top:20px;
	
}
h2,h3{
	text-align:center;
}

/* latin */
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(https://fonts.gstatic.com/s/gloriahallelujah/v8/CA1k7SlXcY5kvI81M_R28cNDay8z-hHR7F16xrcXsJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */*@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: local('Rock Salt'), local('RockSalt'), url(https://fonts.gstatic.com/s/rocksalt/v6/Q94aHXFHGip10K5uxi1jOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.ng-invalid
{
	border: thin solid #990000;
}

aside{
	
}
aside h1
{
	text-align: center;
	font-size: 20px;
}
.izq
{
		margin: 7px;
		text-align: left;
		float: left;
		width: 40%;
		font-size: 20px;
}
.der
{
	margin: 7px;
	text-align: right;
	float: right;
	width: 40%;
	font-size: 20px;
}

.active {
	background-color: #2196F3;
}

table:hover {
	cursor: pointer;
}